<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" {{ stimulus_controller('toast') }}>
    <div class="toast-header bg-{{ label }} text-black">
        <strong class="me-auto">Message</strong>
        <small>{{ when|default(date())|ago(locale=app.request.getLocale()) }}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-black bg-white">
        {{ body|trans }}
    </div>
</div>
