{% extends 'base.html.twig' %}

{% block body_content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">
                WEBAUTHN + PHP<br>
                =<br>
                💖
            </h1>
            <p class="lead fw-normal">
                Get rid of the user passwords and quickly build an <br>
                application supporting Webauthn without any effort.
            </p>
        </div>
    </div>
    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Have you troubles with <span class="text-primary">password?</span></h2>
                <ul>
                    <li>Do you remember it?</li>
                    <li>Is your password secured enough?</li>
                    <li>Does it include numbers, mixes caps and special chars?</li>
                    <li>When did you changed it? How old is it?</li>
                    <li>Is it the same as the one you used few months ago?</li>
                    <li>Have you been <a href="https://haveibeenpwned.com/" target="_blank" rel="nofollow noopener noreferrer">PAWNED</a>?</li>
                </ul>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Webauthn, <span class="text-primary">Easy+Secure</span></h2>
                <p class="lead text-secondary">
                    <strong>No password? No troubles.</strong>
                </p>
                <p class="lead">
                    With Webauthn, you don’t have to care of all of the security problems induced by passwords as you don’t manage them.<br>
                    No sensitive data is stored. You just need to store public keys, counters, certificate chains (optional). You or the users can decide anonymize the data you collect.<br>
                    The data does not pose any risk if leaked.<br>
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Available on <span class="text-primary">Github</span>!</h2>
                <p class="lead">
                <p>
                    <strong>For free!</strong>
                </p>
                <a class="btn btn-primary btn-lg" href="https://github.com/web-auth" target="_blank" rel="nofollow noopener noreferrer">
                    Download now!
                </a>
                </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
{% endblock %}
