@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";
//@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-material-design/scss/bootstrap-material-design";

.footer {
  width: 100%;
  height: 120px;
  line-height: 120px;
}
