<!DOCTYPE html>
<html lang="en">
<head>
    {% block metas %}
        {% include("partials/metas.html.twig") %}
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource-variable/inter@5.0.8/index.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ importmap('app', {
            nonce: csp_nonce('script')
        }) }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
{% block body %}
    <body data-turbo="false" class="bg-white dark:bg-gray-900 {% block body_classes %}{% endblock body_classes %}" {% block body_tags %}{% endblock body_tags %}>
    {% block body_navbar %}
        {% include 'partials/navbar.html.twig' %}
    {% endblock body_navbar %}
    {% block body_header %}{% endblock body_header %}
    {% block flash %}{% include("partials/flashes.html.twig") %}{% endblock flash %}
    {% block body_content %}{% endblock body_content %}
    {% block body_footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock body_footer %}
    {% block toastContainer %}
        <div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
    {% endblock toastContainer %}
    </body>
{% endblock body %}
</html>
