<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="far fa-heart"></i> by
            <a href="https://www.spomky-labs.com" target="_blank">Spomky-Labs</a>
                <img class="mb-2" src="{{ asset('build/images/logo.png') }}" alt="" width="32" height="32">
        </span>
    </div>
</footer>
